@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Ubuntu:wght@500&display=swap');

:root {
  --gray-100: hsl(0, 0%, 10%);
  --gray-200: hsl(0, 0%, 25%);
  --gray-300: hsl(0, 0%, 40%);
  --gray-400: hsl(0, 0%, 75%);
  --gray-500: hsl(0, 0%, 95%);

  --white: hsl(0, 0%, 100%);

  --primary-100: hsl(281, 23%, 10%);
  --primary-200: hsl(281, 23%, 25%);
  --primary-300: hsl(281, 23%, 45%);
  --primary-400: hsl(281, 23%, 80%);
  --primary-500: hsl(281, 23%, 98%);

  --compliment-100: hsl(101, 23%, 10%);
  --compliment-200: hsl(101, 23%, 25%);
  --compliment-300: hsl(101, 23%, 45%);
  --compliment-400: hsl(101, 23%, 75%);
  --compliment-500: hsl(101, 23%, 95%);
}

html, body, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: var(--primary-500); */
  background-color: #e2e2e2;
}